body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffcc99;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

input, select, button, textarea {
  max-width: 100%;
}

meter, progress, output {
  max-width: 100%;
}
#title {
  width: 50%;
  transform: translateX(675px);
  color-scheme: linear-gradient();
}
